@media (max-width: 992px) {
  .nav-link {
    font-size: 1.3rem;
  }

  .hero__row-col h1 {
    font-size: 4rem;
  }
  .col-span {
    font-size: 1.6rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 56.25%;
  }
  .nav {
    position: absolute;
    width: 30rem;
    height: 100vh;
    background-color: #2a4357;
    top: 0;
    right: -30rem;
    transition: var(--transition);
  }
  .nav__list {
    margin-top: 4rem;
    padding: 2rem;
  }
  .list__item {
    display: block;
    text-align: center;
  }

  .nav .bi {
    text-align: left;
  }

  .navbar .bi,
  .nav .bi {
    display: block;
  }

  .hero__row {
    margin-top: 5rem;
  }
  .hero__row-col h1 {
    font-size: 3rem;
  }

  .col-span {
    font-size: 1.4rem;
  }

  /** courses  */
  .courses__row.f-between {
    flex-direction: column;
    gap: 2.4rem;
  }
  .grid-4-cols {
    grid-template-columns: 1fr 1fr;
  }

  .skills-img {
    display: none;
  }

  .contact-img {
    display: none;
  }
  .grid-2-cols {
    grid-template-columns: 1fr;
  }

  .grid-2-col {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 576px) {
  .hero__row-col h1 {
    font-size: 2.4rem;
  }
  .col-span {
    font-size: 1.2rem;
  }
  .hero__row-col p {
    font-size: 1.4rem;
  }

  .btn:link,
  .btn:visited {
    display: inline-block;
    padding: 1.2rem 3rem;
    font-size: 1.4rem;
  }
  .hero__row-col.hidden {
    display: none;
  }
  .hero__row.f-between {
    justify-content: center;
  }
  .hero__row .hero__row-col {
    flex-basis: 100%;
    text-align: center;
  }
  .grid-2-cols-row {
    grid-template-columns: 1fr;
    grid-template-rows: 15rem 15rem 15rem 15rem;
    gap: 2rem;
  }
  .grid-4-cols {
    grid-template-columns: 1fr;
  }

  .footer-social .navbar__logo {
    width: 10rem;
  }
  .certificates-col img{
    width: 70%;
  }
  .courses .courses__row-col p {
    font-size: 1.2rem;
  }
  
}
